
.container{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

}
.box{
    
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    cursor: pointer;
    
}
.msg-hide{
    font-size: 10vmin;
    display: none;
}
.reset{
    padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}